body {
  background-color: #2d3b48;
  padding: 5px;
  margin: 0;
}
.title {
  text-align: center;
  color: white;
}
h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  border-radius: 5px;
  text-align: center;
  background-color: #733e37;
  padding: 0;
  margin-bottom: 0;
}
ul.header li a {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 0 30px;
  display: inline-block;
}
.content {
  /* padding: 20px; */
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.boxWhite {
  padding-top: 20px;
}
.wrapTitle {
  border-radius: 5px;
  padding: 10px;
  background: white;
}
.wrapContent {
  background: white;
  margin-top: 2px;
  border-radius: 5px;
  padding: 10px 0;
}
.bgCircle {
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #733e37;
  color: white;
  font-size: 14px;
  transition: 0.3s;
  padding: 5px 0;
}
@media screen and (max-width: 767px) {
  .bgCircle {
    font-size: 12px;
  }
}
.bgCircle:hover {
  transform: scale(1.02);
}
.circle {
  width: 15px;
  filter: invert(100%);
}
.ctr {
  padding-top: 10px;
  text-align: center;
}
.image-top {
  border-radius: 10px;
  margin: auto;
  display: block;
  width: 100px;
}

.spinner-grow {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: auto;
}
.imgNav {
  width: 10px;
  filter: invert(100%);
}

.count-content {
  font-size: 14px !important;
  font-weight: bold;
}

.footer {
  bottom: 0;
  position: fixed;
  background: #723e38;
  padding: 20px 10px 5px 10px;
  color: white;
}
